.navbar-inverse {
    background-color: #ff7d34;
    border-color: #FFF0;
}

.navbar-header img
{
	width: 150px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
    font-size: 15px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
    background-color: #ffa06a;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px)
.container {
    width: 100%;
}